.show-customer-wrapper{
    display: flex;
    flex-direction: column;
}

.hide-customer-wrapper{
    display: none;
}

p{
    color: #212529;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-block-end: 0.2rem;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

li{
    font-size: 1.3rem;
    line-height: 2rem;
    border-bottom: 1px dotted #777;
    color: #212529;
    letter-spacing: 2px;
    padding: 0.5rem 0rem 0rem 0rem;
}